{{#if img}}
  <div class="{{className}}__img" data-test-ember-content-placeholders-heading-img></div>
{{/if}}
<div class="{{className}}__content">
  <div class="{{className}}__title"></div>
  {{#if subtitle}}
    <div class="{{className}}__subtitle"></div>
  {{/if}}
</div>
