{{#if this.img}}
  <div class="{{this.className}}__img" data-test-ember-content-placeholders-heading-img></div>
{{/if}}
<div class="{{this.className}}__content">
  <div class="{{this.className}}__title"></div>
  <div class="{{this.className}}__subtitle"></div>
</div>
